body{
    background-color: #000a1f;
}
.container{
    margin: 100px 0 0 200px;
    width: 125%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap:10px;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 50%;
}
header{
    color: rgb(223, 72, 17);
    font-size: 25px;
    position:fixed ;
    top:0px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .devi {
        padding: 15px;
    }

    .button-link {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .devi {
        padding: 10px;
    }

    .button-link {
        padding: 6px 12px;
    }
}
